#spyed{
  height: 35em;
  overflow-y: scroll;
  position: relative;
}
.title{
  color: darkblue;
}
#details{
  margin: 2em;
  border: 4mm ridge rgba(52, 58, 64, .3);
}
.year{
  margin-bottom: 2em;
}
.nav-link{
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
}
