<footer class="page-footer font-small darken-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-2">
        <h3>Me retrouver : </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <p>LinkedIn :
          <a href="https://www.linkedin.com/in/guillaume-francois974/" target="_blank">
            <img src="assets/images/linkedin.svg" class="" alt="linkedin" style="height: 2em;">
          </a>
        </p>
      </div>
      <div class="col-2">
        <p>Mail :
          <a href="mailto:guillaume.francois974@hotmail.fr">guillaume.francois974@hotmail.fr</a>
        </p>
      </div>
      <div class="col-2">
        <p>Téléphone :
          <a href="tel:+33665441247">(+33) 06 65 44 12 47</a>
        </p>
      </div>
      <div class="col-2">
        <p>GitHub :
          <a href="https://github.com/Onyldas" target="_blank">
            <img src="assets/images/github.svg" class="" alt="github" style="height: 2em;">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
